@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Grand Hotel", cursive;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --SidebarBtnHover: #1a1a1a;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@layer components {
  .sidebarBtn {
    @apply flex items-center gap-3 text-xl p-3 my-1 hover:bg-[#1a1a1a] rounded-lg hover:cursor-pointer;
  }
  .sidebar {
    @apply xl:w-[72px] 2xl:min-w-[335px] h-screen px-3 pt-2 pb-5 hidden md:flex flex-col justify-between  !border-r-[1px] !border-[#1a1a1a] fixed;
  }
  .sign-box {
    @apply border-[1px] border-white rounded-md flex flex-col items-center w-[350px] py-[10px];
  }
  .form-btn {
    @apply mb-[6px] py-[7px] px-4 w-full rounded-md bg-blue-500 hover:bg-blue-700;
  }
  .line {
    @apply w-full h-[1px] bg-gray-400;
  }
  .input {
    @apply w-full h-[38px] mb-[6px] rounded-sm border-[1px] border-gray-400  text-black focus:outline-none focus:border-gray-100;
  }
  .link {
    @apply text-blue-500 cursor-pointer;
  }
}
